src/main/resources/xsd/NotifyOperator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="NotifyOperator"/>

    <xs:complexType name="NotifyOperatorType">
        <xs:sequence>
        
            <xs:element name="PORT_ID" type="xs:long"/>
            <xs:element name="MobileNumber" type="xs:long"/>
            <xs:element name="DonorOperatorCode" type="xs:int"/>
            <xs:element name="NotificationTimestamp" type="xs:dateTime"/>
            <xs:element name="NotificationMessage" type="xs:string"/>

        </xs:sequence>
    </xs:complexType>

</xs:schema>