src/main/resources/xsd/NotifyAck.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
    <xs:element name="NotifyAck"/>

    <xs:complexType name="NotifyAckType">
        <xs:sequence>
        
            <xs:element name="PORT_ID" type="xs:long"/>
            <xs:element name="AckStatus" type="xs:string"/>
            <xs:element name="AckCode" type="xs:string"/>
            <xs:element name="AckMessage" type="xs:string"/>
            <xs:element name="AcknowledgedTimestamp" type="xs:dateTime"/>

        </xs:sequence>
    </xs:complexType>

</xs:schema>